body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

/* HEADER */

.header {
    background-color: #1F2937;
    margin: 0;
}

.nav-bar {
    padding: 30px 0px 0px;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
    margin: 0px 150px;
    align-items: center;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
}

.nav-bar ul .header-logo {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    display: flex;
    margin: 0px 150px;
    padding: 40px 0px;
}

.text-area h1{
    font-size: 48px;
    margin: 0px;
    line-height: 50px;
    color: white;
}

.text-area p {
    color: #E5E7EB;
    font-size: 18px;
}

.text-area button {
    background-color: #2882F6;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px 18px;
    font-weight: bold;
}

.img-placeholder {
    width: 100%;
    background-color: rgb(178, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* MAIN CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
    padding: 40px 0px;
}

.content-title {
    font-size: 36px;
    color: #1F2937;
}

.boxes {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .box {
    border: 4px solid #2882F6;
    height: 150px;
    border-radius: 10px;
}

/* QUOTE SECTION */

.quote-section {
    margin: 0px;
    background-color: #E5E7EB;
}

.quote-content {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 0px 150px;
}

.quote {
    font-size: 36px;
}

.quote-author {
    text-align: right;
    font-size: 24px;
}

.call-to-action {
    margin: 30px 150px;
    padding: 50px 0px;
    background-color: #2882F6;
    border-radius: 10px;
}

.cta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.cta-content p,
.cta-content b {
    margin: 0;
    color: white;
}

.cta-content button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0px;
    background-color: #1F2937;
    color: white;
}